<mat-card>
  <mat-card-title>Novo Produto</mat-card-title>
  <form #frm="ngForm" method="post" (ngSubmit)="cadastrarProduto(frm)">
    <mat-form-field>
      <input
        matInput
        placeholder="Nome"
        [(ngModel)]="produto.nome"
        id="nome"
        name="nome"
        [ngModelOptions]="{ standalone: true }"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        id="valor"
        name="valor"
        type="number"
        placeholder="Preço R$"
        [(ngModel)]="produto.valor"
        [ngModelOptions]="{ standalone: true }"
        required
      />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      [disabled]="frm.invalid"
      class="botao-produto"
      type="submit"
    >
      Cadastrar
    </button>
  </form>

  <h2>Lista</h2>


  <table mat-table [dataSource]="produtos" class="mat-elevation-z8">
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef>ID.</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="Nome">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
    </ng-container>

    <ng-container matColumnDef="Preço">
      <th mat-header-cell *matHeaderCellDef>Preço</th>
      <td mat-cell *matCellDef="let element">{{ element.valor }}</td>
    </ng-container>

    <ng-container matColumnDef="Ações">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let element">


        <button mat-icon-button (click)="deletar(element.id)">
          <mat-icon>delete</mat-icon>
        </button>

        <button mat-icon-button (click)="editar(element)">
          <mat-icon>edit</mat-icon>
        </button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-card>
